<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>About</title>
</head>

<body>

    <%- include('blocks/header.ejs') -%>

    <main>
        <h1>Page about us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat id accusantium, saepe ab iusto dolorum fugit
            iste sunt dolorem libero optio reiciendis quos totam mollitia, debitis quo facere aspernatur! Temporibus!
        </p>
    </main>

    

</body>

</html>