<!DOCTYPE html>
<html lang="en">

<%- include('blocks/head.ejs') -%>

<body>

    <%- include('blocks/header.ejs') -%>

    <main>
        <h1>Page about us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat id accusantium, saepe ab iusto dolorum fugit
            iste sunt dolorem libero optio reiciendis quos totam mollitia, debitis quo facere aspernatur! Temporibus!
        </p>
    </main>

    

</body>

</html>