<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Hello World!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae atque neque aperiam ducimus architecto qui, accusantium nam velit repellendus quo quos cupiditate? Molestias cum quisquam praesentium est dolor officiis cumque?</p>
</body>
</html>