<!DOCTYPE html>
<html lang="en">

<%- include('blocks/head.ejs') -%>

<body>

    <%- include('blocks/header.ejs') -%>

    <h1>User info: <%= username %></h1>

    <% if(username.toLowerCase() == '1') { %>
        <ul>
            <% abouts.forEach((el) => { %>
                <li><%= el %></li>
            <% }) %>
        </ul>
    <% } %>

    
</body>
</html>