<header>
    <span>Node <em>&</em> Express</span>
    <nav>
        <a href="/">home</a>
        <a href="/about">about</a>
    </nav>
    <form method="POST" action="/check-user">
        <input type="text" name="username" placeholder="username">
        <button type="submit">Search</button>
    </form>
</header>