<header>
    <span>Forum</span>
    <nav>
        <div>
            <div class="left">
                <a href="/">home</a>
                <a href="/about">about</a>
            </div>
            <div class="right">
                <% if (user) { %>
                <a href="/user/logout">logout</a>
                <% } else { %>
                <a href="/user/signup">signup</a>
                <a href="/user/login">login</a>
                <% } %>
            </div>
        </div>
    </nav>
</header>