<header>
    <span>Node <em>&</em> Express</span>
    <nav>
        <a href="/">home</a>
        <a href="/about">about</a>
    </nav>
    <form>
        <input type="text" placeholder="username">
        <button>Search</button>
    </form>
</header>